---
layout: base
---
<div class="post">
  <div class="page-header">
    <h1>{{ page.title }}</h1>
  </div>
  <div>
    {{ content }}
  </div>
  <div>
    <dl class="meta">
      <dt class="property">written by</dt>
      <dd class="author name value">{{ page.author }}</dd>
      <dt class="property">published</dt>
      <dd class="published date value">{{ page.date | date_to_string }}</dd>
    </dl>
  </div>
  <div>
    <p class="alert alert-info comments" id="comments">Disagree? Found a typo? <a href="https://github.com/craigw/craigw.github.com/fork">Fork the repo</a> and show me how wrong I am.<br />Got a question? If you'd like to have a conversation about this post, <a href="mailto:craig@barkingiguana.com">email craig@barkingiguana.com</a>. I don't bite.</p>
    <p class="alert alert-warning security" id="security">You can verify that I've written this post by following the <a href="/verification">verification instructions</a>:<br />
    <pre><code>curl -O https://raw.githubusercontent.com/craigw/craigw.github.com/master/{{ page.path }} \
curl -O https://raw.githubusercontent.com/craigw/craigw.github.com/master/{{ page.path }}.asc
gpg --verify {{ page.path }}{.asc,}</code></pre>
    </p>
  </div>
  <div class="related btn-group">
{% assign previous = '' %}
{% assign show_previous = true %}
{% assign show_next = false %}
{% for post in site.posts reversed %}
  {% unless post.path contains '.asc' or post.path contains '.unprocessed' %}
    {% if post.url == page.url and previous != '' and show_previous == true %}
      <a class="previous btn" href="{{ previous.url }}" rel="previous" title="{{ previous.title }}"><i class="icon-backward"></i> {{ previous.title | truncatewords: 15 }}</a>
      {% assign show_previous = false %}
    {% endif %}
    {% if show_next == true %}
      <a class="next btn" href="{{ post.url }}" rel="next" title="{{ post.title }}"><i class="icon-forward"></i> {{ post.title | truncatewords: 15 }}</a>
      {% assign show_next = false %}
    {% endif %}
  {% assign previous = post %}
  {% if post.url == page.url %}
    <a class="up btn" href="/" rel="up"><i class="icon-home"></i> Home</a>
    {% assign show_next = true %}
  {% endif %}
  {% endunless %}
{% endfor %}
  </div>
</div>
